.header {
  max-width: 1200px;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 2rem auto;
  width: 85%;
}

.working-img {
  width: 100%;
  padding-left: 1.6rem;
  overflow: hidden;
  z-index: -1;
}

.intro h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--Very-Dark-Violet);
}

.intro p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--Grayish-Violet);
}

.intro span {
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 75%);
  color: var(--Grayish-Violet);
}

@media screen and (min-width: 478px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 3rem auto;
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
  }

  .intro {
    align-items: flex-start;
    padding-left: 8.5rem;
  }

  .intro h2 {
    font-size: 6rem;
  }

  .intro p {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3.6rem;
  }

  .intro span {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
}
