footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--Very-Dark-Violet);
}

footer h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  margin: 1rem auto;
  text-align: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer li {
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  margin: 0.3rem 0;
  color: var(--Gray);
}

footer li:hover {
  color: var(--Cyan);
}

footer li:last-child {
  margin-bottom: 1.2rem;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.6rem;
}

.footer-logo {
  margin-top: 1.7rem;
  margin-bottom: 2.2rem;
}

.footer-bottom img {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
