.hero {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 2rem auto;
  width: 85%;
}

.working-img {
  width: 100%;
  padding-left: 1.6rem;
  overflow: hidden;
}

.intro h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0;
  color: hsl(260, 8%, 14%);
}

.intro p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  color: hsl(0, 0%, 75%);
}

.intro span {
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 75%);
}

.start-button {
  margin-top: 4rem;
  padding: 0.7rem 0;
  border: none;
  border-radius: 3rem;
  background: var(--Cyan);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
  cursor: pointer;
  width: 16.8rem;
  height: 4.8rem;
}

.start-button:hover {
  background: hsl(180, 74%, 77%);
}

.start-button:last-child {
  margin-top: 2rem;
}

.feature-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 2rem auto;
  width: 85%;
}

.features {
  background-color: #eff1f7;
}

.feature-intro h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: hsl(260, 8%, 14%);
  margin-top: 8rem;
}

.feature-intro p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
  color: hsl(0, 0%, 75%);
}

.feature-intro span {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(0, 0%, 75%);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 88%;
  height: 26rem;
  margin: 3rem auto;
  padding: 2.4rem;
  background-color: #fff;
  box-shadow: 0 0 0.3rem rgba(152, 152, 152, 0.2);
  border-radius: 0.5rem;
  z-index: 9998;
}

.feature-card h3 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(260, 8%, 14%);
  text-align: center;
}

.feature-card p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  color: hsl(0, 0%, 75%);
  text-align: center;
}

.feature-card-circle {
  width: 7.7rem;
  height: 7.7rem;
  border-radius: 50%;
  background-color: hsl(257, 27%, 26%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-6rem);
}

.cyan-bar {
  height: 100%;
  position: absolute;
  width: 0.7rem;
  background-color: var(--Cyan);
  z-index: 0;
}

.boost-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  width: 100%;
  height: 29rem;
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-color: #3b3054;
}

.boost-cta h2 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
}

@media screen and (min-width: 478px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 3rem auto;
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
  }

  .intro {
    align-items: flex-start;
    padding-left: 8.5rem;
  }

  .intro h2 {
    text-align: left;
  }

  .intro p {
    font-size: 16px;
  }

  .boost-cta {
    background-image: url(../images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-color: #3b3054;
    background-position: center;
    background-size: cover;
  }

  .card-container {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
  }

  .feature-card {
    width: 30%;
    height: 26rem;
    margin: 3rem 2rem;
    padding: 2.4rem;
    background-color: #fff;
    box-shadow: 0 0 0.3rem rgba(152, 152, 152, 0.2);
    border-radius: 0.5rem;
    z-index: 9998;
  }

  .cyan-bar {
    width: 80%;
    height: 0.7rem;
  }
}
