#nav-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 6rem;
  margin: 1rem auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

ul {
  display: none;
}

@media screen and (min-width: 768px) {
  nav .hamburger {
    display: none;
  }

  ul {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
  }

  li {
    list-style: none;
    padding: 0 1rem;
  }

  li a {
    text-decoration: none;
    color: red;
  }
}
